<ul id="slides">
  <% @users.each_with_index do |user| %>
  <div class="slide" data-id="<%= user.id %>">
    <li><%= user.first_name %></li>
  </div>
  <% end %>
</ul>

<button class="controls" id="previous">No</button>
<button class="controls" id="next">Yes</button>